h1{
    color: blue;
  }
  .body_background{
     background-image:url("https://www.bing.com/images/blob?bcid=SKjSxuMGF0YDhuK7ptZam99QkpWL.....xk") ;
    background-position: center;
    background-size: cover;
  }